.jumbotron {
    background-color: #0E0B2B;
    color: #ffffff;
}

.lead {
    color: #CBCAD2;
}

.highlight {
    background-color: #FFCDD2
}

#footer {
    background-color: #0E0B2B;
    color: #CBCAD2;
    padding-bottom: 10px;
}

.author {
    padding-top: 15px;
    padding-bottom: 10px;
}

.disclaimer {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
}

footer a {   
    text-decoration-style: none;
    color:  #CBCAD2;
}

footer a:hover {
    color:  #CBCAD2;
}

.credits {
    font-size: 18px;
}